/bin
/760up.txt
/bcl6_b6bs.motif
/bcl6_kawamata.motif
/bcl6_promoters_2000.fasta
/bcl6.motif
/hes1_promoter_1000_1000.fasta
/rbpj.jaspar
/res/user.settings.xml
/res/genomes/
/target/
/recent.files.json
/recent.files.xml
/user.settings.json
